<main class="container" role="main">
        <div class="form-group">
            {% for field in form %}
                <!--Start Row -->
                <div class="row">

                        <label class="control-label col-sm-3">{{ field.label_tag }}</label>
                        <div class="col-sm-2">{{ field }}</div> 
                        <div class="col-3">
                                <span class="text-danger small">{{ field.errors }}</span>
                        </div>
                </div>
            {% endfor %}
            <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
            </div>
        </div>
    </main>