{% extends "base.html" %}
{% block appendHeader %}
 <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 836px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    .myrow {
		border-style: solid;
		margin-left: 0;
		background-color: #555;
		color: white;
		padding: 15px;
	}
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
{% endblock %}

{% block body1 %}
      {% if error_massage %}
          <p><strong>{{ error_massage }}</strong></p>
      {% endif %}
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
	        {% if project_list %}
            {% for obj in project_list %}
                   <div class="row myrow">{{obj.projectName}}</div>
            {% endfor %}
          {% else %}
                <p>No Objects are available.</p>
          {% endif %}
    </div>
    <div class="col-sm-8 text-left"> 
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Add Task</h3>
          </div>
          <div class="panel-body">
              <!--Start form-->
              <form class="form-horixontal" role="form" action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% include 'Tasks/form_template.html' %}
                  <!--{{form.as_p}}-->
              </form>
              <!--End form-->
          </div>
        </div>
        <!--End panel-->
    </div>
    <div class="col-sm-2 sidenav">
            {% if task_list %}
                <ul>
                {% for obj in task_list %}
                    <li>{{ obj.name }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No Objects are available.</p>
            {% endif %}
    </div>
  </div>
</div>

{% endblock %}