{% extends "base.html" %}
{% load staticfiles %}

{% block con1 %}
{% endblock %}

{% block body1 %}
<h1>Products</h1>
        <main class="container" role="main">
            <!--Start Row -->
            <div class="row">
                    <!--Start Col-->
                    <div class="col-md-4">
                    ##link to create page
                    </div>   
                    <div class="col-md-4">
                    ##link to object list
                    </div>   
                    <!--End Col-->
            </div> 
            <!--End Row-->  
        </main>          
{% endblock %}