{% load static %}


<!doctype html>
<html lang="en">

  <head>
{% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../../../favicon.ico">-->

    <!--<title>{% block title %}Top navbar example for Bootstrap{% endblock %}</title>-->
    <title>Smart-sced</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "dist/css/glyphicon.css" %}" rel="stylesheet">
    <link href="{% static "dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <!--
      
      <link href="{% static "base.css" %} rel="stylesheet">
      -->
{% endblock %}

{% block appendHeader %}
{% endblock %}
  </head>


  <body style='background-image: url("{% static "backgrounds/network-black.png" %}");'>
{%block body %}
    {% block nevbar %}
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
          <ul class="navbar-nav mr-auto">

              {% if not user.is_authenticated %}
                <li class="nav-item pr-3">
                    <p class="nav-link">Welcome, new user. Please log in.</p>
                </li>
                <li>
                  <a class="nav-link" href="{% url 'authentication:signup' %}">Sign Up</a>
                </li>
                <li>
                  <a class="nav-link" href="{% url 'authentication:login' %}">login</a>
                </li>
              {% endif %}
              {% if user.is_authenticated %}
                <li class="pr-3">
                    <img src="{{ user.image.url }}"  style="width:30px;height:30px;"/>
                </li>
                <li class="pr-3">
                    <p class="text-light bg-dark"><span class="align-middle">{{ user.username }}</span></p>
                </li>
                <li>
                  <a href="{% url 'authentication:logoff' %}" class="nav-link btn btn-dark btn-lg"><span class="glyphicon glyphicon-off"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/../admin/"><span class="glyphicon glyphicon-cog"></span></a>
                </li>
              

              <li class="pr-3">
                   <div class="dropdown">
                  <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Manager
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'core:product-add' %}">create product</a>
                    <a class="dropdown-item" href="{% url 'core:projectinproduct-add' %}">add project to product</a>
                    <a class="dropdown-item" href="{% url 'core:product-add' %}">create product</a>
                    <a class="dropdown-item" href="{% url 'core:tip-add' %}">create tip</a>
                    <a class="dropdown-item" href="{% url 'core:project-add' %}">create project</a>
                    <a class="dropdown-item" href="{% url 'core:taskinproject-add' %}">add tasks to project</a>
                    <a class="dropdown-item" href="{% url 'core:task-add' %}">create task</a>
                    
                  </div>
                </div>
              </li>
              <li class="pr-3">
                   <div class="dropdown">
                  <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Editor
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'core:product-add' %}">create product</a>
                    <a class="dropdown-item" href="{% url 'core:projectinproduct-add' %}">add project to product</a>
                    <a class="dropdown-item" href="{% url 'core:product-add' %}">create product</a>
                    <a class="dropdown-item" href="{% url 'core:tip-add' %}">create tip</a>
                    <a class="dropdown-item" href="{% url 'core:project-add' %}">create project</a>
                    <a class="dropdown-item" href="{% url 'core:taskinproject-add' %}">add tasks to project</a>
                    <a class="dropdown-item" href="{% url 'core:task-add' %}">create task</a>
                    
                  </div>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Worker
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'core:product-add' %}">create product<span class="pl-5 ml glyphicon glyphicon-plus-sign"></span></a>
                    <a class="dropdown-item" href="{% url 'core:projectinproduct-add' %}">add project to product<span class="pl-5 ml glyphicon glyphicon-plus"></span></a>
                    <a class="dropdown-item" href="{% url 'core:product-add' %}">create product</a>
                    <a class="dropdown-item" href="{% url 'core:tip-add' %}">create tip</a>
                    <a class="dropdown-item" href="{% url 'core:project-add' %}">create project</a>
                    <a class="dropdown-item" href="{% url 'core:taskinproject-add' %}">add tasks to project</a>
                    <a class="dropdown-item" href="{% url 'core:task-add' %}">create task</a>
                    
                  </div>
                </div>

              </li>
              {% endif %}
          </ul>
         
      </nav>
    {% endblock %}
    {% block con1 %}
    {% endblock %}
    {% block body1 %}
    {% endblock %}
    {% block footer %}

      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="{% static "assets/js/vendor/popper.min.js" %}"></script>
      <script src="{% static "dist/js/bootstrap.min.js"%}"></script>
    {% endblock %}
{% endblock %}
  </body>
</html>

